<footer class="my-footer mt-auto">
    <div class="container d-flex align-items-center">
        <div class="copyright p-2">Copyright &copy; 2017 Starfit Inc. All rights reserved.</div>
        <div class="ml-auto p-2 d-flex align-items-center socialbar">
            <span class="fa-stack fa-lg mx-1">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="text-red fa fa-facebook fa-stack-1x"></i>
            </span>
            <span class="fa-stack fa-lg mx-1">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="text-red fa fa-twitter fa-stack-1x"></i>
            </span>
            <span class="fa-stack fa-lg mx-1">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="text-red fa fa-instagram fa-stack-1x"></i>
            </span>
            <span class="fa-stack fa-lg mx-1">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="text-red fa fa-google-plus fa-stack-1x"></i>
            </span>
        </div>
    </div>
</footer>

{{!--
<div class="">
    <i class="fa fa-facebook" aria-hidden="true"></i>
</div> --}}