<div class="my-footer">
  <div class=container>
    <div class="row">

      <i class="fa fa-angle-double-left mt-3"></i>
      <div style="width:80%" class="center-line >">
        Back
      </div>

      <div style="text-align:right" class="center-line >">
        Create new service
      </div>
    </div>
  </div>
</div>
<div class="container mt-2">
  <div style="font-size: 1.2em" class="row center-line">
    Edit service images
  </div>
  <div class="btn-groups">
    <button class="button">
      <div class="containner">
        <br>
        <span class="fa-stack fa-1x m-auto">
          <i style="color:white;" class="fa  fa-circle fa-stack-2x"></i>
          <i style="color:red;" id="add-service" class="fa  fa-plus-circle fa-stack-1x "></i>
        </span>
        <p style="">Add new image</p>
      </div>
    </button>
    <button class="button">
      <div class="containner">
        <br>
        <span class="fa-stack fa-1x m-auto">
          <i style="color:white;" class="fa  fa-circle fa-stack-2x"></i>
          <i style="color:red;" id="add-service" class="fa  fa-plus-circle fa-stack-1x "></i>
        </span>
        <p style="">Add new image</p>
      </div>
    </button>
    <button class="button">
      <div class="containner">
        <br>
        <span class="fa-stack fa-1x m-auto">
          <i style="color:white;" class="fa  fa-circle fa-stack-2x"></i>
          <i style="color:red;" id="add-service" class="fa  fa-plus-circle fa-stack-1x "></i>
        </span>
        <p style="">Add new image</p>
      </div>
    </button>
  </div>
  <div style="font-size: 1.2em" class="row center-line">
    Information
  </div>
  <div class="input-field">
    <label class="mt-1" for="Name">Service from</label>
    <input class="form-control " type="text" name="fname">
  </div>

  <div class="input-field">
    <label class="mt-1" for="Name">Details</label>
    <input class="form-control" type="text" name="fname">
  </div>

   <label class="mt-1" for="Name">Time slot</label>
    <div class="container">
      <div class="row">
         <input id=buttontime style="padding: 5px 26px;" type="date" name="party">
       <div style="margin:auto;margin-right:560px;" class="search-option col-md-3 col-xs-12 col-lg-3">
           <select name="time" class="form-control searchbox-text searchbox-dropbox">
             <option value="0">---- Select time----</option>
             <option value="1">08:00-09:00</option>
             <option value="2">09:00-10:00</option>
             <option value="3">10:00-11:00</option>
             <option value="4">11:00-12:00</option>
             <option value="5">12:00-13:00</option>
             <option value="6">13:00-14:00</option>
             <option value="7">14:00-15:00</option>
             <option value="8">15:00-16:00</option>
             <option value="9">16:00-17:00</option>
             <option value="10">17:00-18:00</option>
             <option value="11">18:00-19:00</option>
             <option value="12">19:00-20:00</option>
             <option value="13">20:00-21:00</option>
             <option value="14">21:00-22:00</option>
           </select>

       </div>
    </div>
  </div>
  <input type="button" class="btn btn-danger btn-sm mt-2" value="Add time slot">
  <div class="input-field">
    <label class="mt-1" for="Name">Location</label>
    <select name="location" class="form-control searchbox-text searchbox-dropbox">
      <option value="0">- เลือกอำเภอ -</option>
      <option value="18">เขตคลองสาน</option>
      <option value="30">เขตจตุจักร </option>
      <option value="35">เขตจอมทอง </option>
      <option value="36">เขตดอนเมือง </option>
      <option value="26">เขตดินแดง </option>
      <option value="46">เขตคลองสามวา</option>
      <option value="33">เขตคลองเตย</option>
      <option value="43">เขตคันนายาว</option>
      <option value="2">เขตดุสิต </option>
      <option value="19">เขตตลิ่งชัน </option>
      <option value="48">เขตทวีวัฒนา </option>
      <option value="49">เขตทุ่งครุ </option>
      <option value="15">เขตธนบุรี </option>
      <option value="20">เขตบางกอกน้อย </option>
      <option value="16">เขตบางกอกใหญ่ </option>
      <option value="6">เขตบางกะปิ </option>
      <option value="21">เขตบางขุนเทียน </option>
      <option value="31">เขตบางคอแหลม </option>
      <option value="29">เขตบางซื่อ </option>
      <option value="47">เขตบางนา </option>
      <option value="50">เขตบางบอน </option>
      <option value="25">เขตบางพลัด </option>
      <option value="4">เขตบางรัก </option>
      <option value="5">เขตบางเขน </option>
      <option value="40">เขตบางแค </option>
      <option value="27">เขตบึงกุ่ม </option>
      <option value="7">เขตปทุมวัน </option>
      <option value="32">เขตประเวศ </option>
      <option value="8">เขตป้อมปราบศัตรูพ่าย </option>
      <option value="14">เขตพญาไท </option>
      <option value="1">เขตพระนคร </option>
      <option value="9">เขตพระโขนง </option>
      <option value="22">เขตภาษีเจริญ </option>
      <option value="10">เขตมีนบุรี </option>
      <option value="12">เขตยานนาวา </option>
      <option value="37">เขตราชเทวี </option>
      <option value="24">เขตราษฎร์บูรณะ </option>
      <option value="11">เขตลาดกระบัง </option>
      <option value="38">เขตลาดพร้าว </option>
      <option value="45">เขตวังทองหลาง </option>
      <option value="39">เขตวัฒนา </option>
      <option value="34">เขตสวนหลวง </option>
      <option value="44">เขตสะพานสูง </option>
      <option value="13">เขตสัมพันธวงศ์ </option>
      <option value="28">เขตสาทร </option>
      <option value="42">เขตสายไหม </option>
      <option value="3">เขตหนองจอก </option>
      <option value="23">เขตหนองแขม </option>
      <option value="41">เขตหลักสี่ </option>
      <option value="17">เขตห้วยขวาง </option>
    </select>
  </div>
  <div class="input-field">
    <label class="mt-1" for="Name">Price</label>
    <input class="form-control" type="text" name="fname">
  </div>
  <div class="form-row">
    <div class="form-group col-sm-12 col-md-7 col-lg-7">
      <label class="mt-1" for="More service">More service</label>
      <input type="text" class="form-control" name="More service">
    </div>
    <div class="form-group col-sm-12 col-md-5 col-lg-5">
      <label class="mt-1" for="Fee">Fee</label>
      <input type="text" class="form-control" name="Fee">
    </div>
  </div>
  <input type="button" class="btn btn-danger btn-sm" value="Add more">
  <div class="container mb-3">
    <div class="row">
      <div class="mt-3">
        <button type="submit" class="btn btn-danger btn-lg mr-3">Submit</button>
      </div>
      <div class="mt-3">
        <button type="cancel" class="btn btn-outline-danger btn-lg">Cancel</button>
      </div>
    </div>
  </div>

</div>