<div class="my-footer">
  <div class=container>
    <div class="row">

        <i class="fa fa-angle-double-left mt-3"></i>
        <div style="width:80%"class="center-line >">
          Back
        </div>

     <div style="text-align:right" class="center-line >">
       Create new service
     </div>
    </div>
  </div>
</div>
<div class="container mt-2">
  <div style="font-size: 1.2em" class="row center-line">
    Edit service images
  </div>
  <div class="btn-groups">
    <button class="button">
      <div class="containner">
        <br>
          <span class="fa-stack fa-1x m-auto">
            <i style="color:white;" class="fa  fa-circle fa-stack-2x"></i>
            <i style="color:red;"id="add-service" class="fa  fa-plus-circle fa-stack-1x "></i>
          </span>
          <p style="">Add new image</p>
      </div>
    </button>
    <button class="button">
      <div class="containner">
        <br>
          <span class="fa-stack fa-1x m-auto">
            <i style="color:white;" class="fa  fa-circle fa-stack-2x"></i>
            <i style="color:red;"id="add-service" class="fa  fa-plus-circle fa-stack-1x "></i>
          </span>
          <p style="">Add new image</p>
      </div>
    </button>
    <button class="button">
      <div class="containner">
        <br>
          <span class="fa-stack fa-1x m-auto">
            <i style="color:white;" class="fa  fa-circle fa-stack-2x"></i>
            <i style="color:red;"id="add-service" class="fa  fa-plus-circle fa-stack-1x "></i>
          </span>
          <p style="">Add new image</p>
      </div>
    </button>
  </div>
  <div style="font-size: 1.2em" class="row center-line">
    Information
  </div>
  <div class="input-field">
      <label class="mt-1" for="Name">Service from</label>
      <input class="form-control " type="text" name="fname" >
  </div>

  <div class="input-field">
    <label class="mt-1" for="Name">Details</label>
    <input class="form-control" type="text" name="fname" >
  </div>

   <label class="mt-1" for="Name">Time slot</label>
    <div class="container">
      <div class="row">
        <input id=buttontime style="padding: 5px 26px;" type="date" name="party">
        <div class="dropdown">
          <button id=buttontime class="btn dropdown-toggle ml-4" type="button" id="dropdownMenuButton" data-toggle="dropdown">
            Select time
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">08:00-09:00</a>
            <a class="dropdown-item" href="#">09:00-10:00</a>
            <a class="dropdown-item" href="#">10:00-11:00</a>
            <a class="dropdown-item" href="#">11:00-12:00</a>
            <a class="dropdown-item" href="#">12:00-13:00</a>
            <a class="dropdown-item" href="#">13:00-14:00</a>
            <a class="dropdown-item" href="#">14:00-15:00</a>
            <a class="dropdown-item" href="#">15:00-16:00</a>
            <a class="dropdown-item" href="#">16:00-17:00</a>
            <a class="dropdown-item" href="#">17:00-18:00</a>
            <a class="dropdown-item" href="#">18:00-19:00</a>
            <a class="dropdown-item" href="#">19:00-20:00</a>
            <a class="dropdown-item" href="#">20:00-21:00</a>
            <a class="dropdown-item" href="#">21:00-22:00</a>
          </div>
       </div>
    </div>
  </div>
  <input type="button" class="btn btn-danger mt-2" value="Add time slot">
  <div class="input-field">
    <label class="mt-1" for="Name">Location</label>
    <input class="form-control" type="text" name="fname" >
  </div>
  <div class="input-field">
    <label class="mt-1" for="Name">Price</label>
    <input class="form-control" type="text" name="fname" >
  </div>



 </div>
