<div class="my-footer">
  <div class=container>
    <div class="row">

        <i class="fa fa-angle-double-left mt-3"></i>
        <div style="width:80%"class="center-line >">
          Back
        </div>

     <div style="text-align:right" class="center-line >">
       Create new service
     </div>
    </div>
  </div>
</div>
<div class="container">
  <div style="font-size: 1.2em" class="row center-line">
    Edit service images
  </div>
  <div class="btn-groups">
    <button class="button">
      <div class="containner">
        <br>
          <span class="fa-stack fa-1x m-auto">
            <i style="color:white;" class="fa  fa-circle fa-stack-2x"></i>
            <i style="color:red;"id="add-service" class="fa  fa-plus-circle fa-stack-1x "></i>
          </span>
          <p style="">Add new image</p>
      </div>
    </button>
    <button class="button">
      <div class="containner">
        <br>
          <span class="fa-stack fa-1x m-auto">
            <i style="color:white;" class="fa  fa-circle fa-stack-2x"></i>
            <i style="color:red;"id="add-service" class="fa  fa-plus-circle fa-stack-1x "></i>
          </span>
          <p style="">Add new image</p>
      </div>
    </button>
    <button class="button">
      <div class="containner">
        <br>
          <span class="fa-stack fa-1x m-auto">
            <i style="color:white;" class="fa  fa-circle fa-stack-2x"></i>
            <i style="color:red;"id="add-service" class="fa  fa-plus-circle fa-stack-1x "></i>
          </span>
          <p style="">Add new image</p>
      </div>
    </button>
  </div>
  <div style="font-size: 1.2em" class="row center-line">
    Information
  </div>
  <div class="">

  </div>
 </div>
