
<div class="my-footer">
  <div class=container>
    <div class="center-line >">
      My Profile
    </div>
  </div>
</div>
<div class="container">
  <div class="row">

     <div class="col-md-4 col-xs-6 col-lg-4">

        <img class="circle" src="/images/logo.png" width="180" height="180" />

    </div>

    <div class="col-md-8 col-xs-6 col-lg-8">
      <div class="row">
   <form class="col s12">
     <div class="row">
       <div class="input-field col s6">
         <input placeholder="Placeholder" id="first_name" type="text" class="validate">
         <label for="first_name">First Name</label>
       </div>
       <div class="input-field col s6">
         <input id="last_name" type="text" class="validate">
         <label for="last_name">Last Name</label>
       </div>
     </div>
     <div class="row">
       <div class="input-field col s12">
         <input disabled value="I am not editable" id="disabled" type="text" class="validate">
         <label for="disabled">Disabled</label>
       </div>
     </div>
     <div class="row">
       <div class="input-field col s12">
         <input id="password" type="password" class="validate">
         <label for="password">Password</label>
       </div>
     </div>
     <div class="row">
       <div class="input-field col s12">
         <input id="email" type="email" class="validate">
         <label for="email">Email</label>
       </div>
     </div>
     <div class="row">
       <div class="col s12">
         This is an inline input field:
         <div class="input-field inline">
           <input id="email" type="email" class="validate">
           <label for="email" data-error="wrong" data-success="right">Email</label>
         </div>
       </div>
     </div>
   </form>
 </div>


    </div>

  </div>
</div>


{{!-- Recommended section --}} {{!--
<div class="row" style="margin-top:80px">
  <div class="container">
    <div class="service-group">
      <div class="sg-caption">
        <h1>New Arrivals</h1>
      </div>
      <div class="row">
        <div class="col-md-4 col-xs-4 col-lg-4">
          <div class="service-box">
            <div class="service-image"></div>
            <div class="service-caption">
              <span>status</span>
            </div>
            <div class="service-detail">
              <div class="service-moredetail"></div>
              <div class="inline">
                <div class="service-price"></div>
                <div class="service-star"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-4 col-lg-4">

        </div>
        <div class="col-md-4 col-xs-4 col-lg-4">

        </div>
      </div>
    </div>
    <div class="service-group">
      <div class="sg-caption">
        <h1>Recommended</h1>
      </div>
    </div>
    <div class="service-group">
      <div class="sg-caption">
        <h1>Most Popular</h1>
      </div>
    </div>
  </div>
</div> --}} {{!-- Sign Up --}} {{!--
<img class="logo" src="/images/logo_wide.png" /> --}}
<!-- <h1>Welcome to StarFit</h1><br > -->
{{!--
<div style="height: 10px"></div>
<div class="row">
  <div class="main">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6">
        <a href="#" class="btn btn-lg btn-primary btn-block">Facebook</a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6">
        <a href="#" class="btn btn-lg btn-info btn-block">Google</a>
      </div>
    </div>
    <div class="login-or">
      <hr class="hr-or">
      <span class="span-or">or</span>
    </div>

    <form role="form">
      <div class="form-group">
        <label for="inputUsernameEmail">Username or email</label>
        <input type="text" class="form-control" id="inputUsernameEmail">
      </div>
      <div class="form-group">
        <a class="pull-right" href="#">Forgot password?</a>
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword">
      </div>
      <div class="checkbox pull-right">
        <label>
          <input type="checkbox"> Remember me </label>
      </div>
      <button type="submit" class="btn btn btn-primary">
        Log In
      </button>
    </form>

  </div>

</div> --}}
