<div class="my-footer">
  <div class=container>
    <div class="row">
      <div class="btn">
        <span>
        <i class="fa fa-angle-double-left mt-3"></i>Back
        </span>
      </div>


     <div style="text-align:right" class="center-line ">
       Create new service
     </div>
    </div>
  </div>
</div>
