
<div class="my-footer">
  <div class=container>
    <div class="center-line >">
      My Profile
    </div>
  </div>
</div>
<div class="container">
  <div class="row">

     <div class="col-md-12col-xs-6 col-lg-4">
       <div class="row">
        <img class="circle" src="/images/logo.png" width="180" height="180" />
       </div>
        <div class="row">
         <button type="uppic" class="btn btn-danger btn-sm btn-under-pic " >Upload picture</button>
      </div>
    </div>

    <div class="col-md-12 col-xs-6 col-lg-8 margin-top-1">
    <div class="row">
     <div class="row ">
        <div class="input-field col-xs-12 col-md-12 col-lg-12">
          <label for="Name">Frist name</label>
          <input class="form-control" type="fname" name="Frist Name" value="Frist Name" >
        </div>
        <div class="input-field col-xs-12 col-md-12 col-lg-12">
          <label for="Lname">Last name</label>
          <input class="form-control" type="lname" class="validate" value="Last Name">
        </div>
       </div>
       <div class="row ">
         <div class="input-field col-xs-12 col-md-12 col-lg-12">
           <label for="email">E-mail</label>
           <input class="form-control" disabled type="e-mail" value="E-mail"  class="validate">
         </div>
         <div class="input-field col-xs-12 col-md-12 col-lg-12">
           <label for="number">Phone Number</label>
           <input class="form-control" type="phone" class="validate" value="Phone number">
         </div>
      </div>
    </div>
    <div class="margin-top-1">
      <button type="submit" class="btn btn-danger" >Save</button>
      <button type="button" class="btn btn-secondary" >Cancel</button>
    </div>
    </div>
  </div>

</div>
