<div class="service-name py-2">
  <div class="container">
    <h2 class="py-1 my-0">My Reservation</h2>
  </div>
</div>

<div class="container my-3">
  <div class="row d-flex justify-content-center">
    <div class="btn-group" role="group" aria-label="Basic example">
      <a class="btn btn-danger" href="/profile">My Profile</a>
      <a class="btn btn-danger" href="/reservation">My Reservation</a>
      <a class="btn btn-danger" href="/mycheckout">My Checkout History</a>
    </div>
  </div>
  <table class="table table-hover mx-auto my-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Reservation Id</th>
        <th scope="col">Last Name</th>
        <th scope="col">Username</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>