<div class="main">
  <div class="row">
    <div class="search-bg">
      <div style="height:750px" class="container d-flex flex-column justify-content-center">
        <div class="top-caption my-3">
          <h1 class="display-5">Welcome to Trainer Managnement System</h1>
          <h4 class="display-5">Just create a service and earn more customer</h4>
        </div>
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-xs-6 col-md-6 col-lg-6 d-flex justify-content-center">
              <a href="/trainer/addservice">
                <span class="fa-stack fa-5x">
                  <i class="text-red fa fa-circle fa-stack-2x"></i>
                  <i id="add-service" class="fa fa-plus-circle fa-stack-1x "></i>
                </span>
                <h4 class="text-white">
                  <center>Add new service</center>
                </h4>
              </a>
            </div>
            <div class="col-xs-6 col-md-6 col-lg-6 d-flex justify-content-center">
              <a href="/trainer/myservice">
                <span class="fa-stack fa-5x">
                  <i class="text-white fa fa-circle fa-stack-2x"></i>
                  <i id="my-service" class="fa fa-home fa-stack-1x"></i>
                </span>
                <h4 class="text-white">
                  <center>My service</center>
                </h4>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>