html,
body {
    font-size: 14px !important;
    font-family: "Kanit",sans-serif;
    overflow-x: hidden;
    margin:0;
    padding:0;
    height: 100%;
}

h1 {
    font-size: 1.602em;
}

h2 {
    font-size: 1.424em;
}

h3 {
    font-size: 1.266em;
}

h4 {
    font-size: 1.125em;
}

h5 {
    font-size: 0.889em;
}

h6 {
    font-size: 0.79em;
}

.display-1 {
    font-size: 3.906em;
}

.display-2 {
    font-size: 3.125em;
}

.display-3 {
    font-size: 2.5em;
}

.display-4 {
    font-size: 2em;
}

.wrapper{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.profile-image-nav{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.profile-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

a.signup-button {
    color: white;
    background: red;
}

a.signup-button:hover,a.signin-button:hover {
    color:red;
}

a.signup-button:hover {
    color: white;
    background: red;
}

a.signin-button {
    color: red;
}

.checkout-btn {
    cursor: pointer;
    color: white;
    background: red;
}

.reserve-btn {
    cursor: pointer;
    color: red;
    border: 1px solid red;
}

.service-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

a.trainer-button{
    color: orange !important;
    border: 2px solid orange !important;
    border-radius: 25px !important;
}

a.trainer-button:hover{
    color: white !important;
    background: orange !important;
    border: 2px solid orange !important;
    border-radius: 25px !important;
    text-decoration: none !important;
}

a.gray-link {
    color:gray;
}

a.gray-link:hover {
    color:#3b3b3b;
}

li.nav-item>a {
    width: 100%;
}

.top-caption>h1 {
    font-family: Lobster, cursive;
    text-align: center;
    color: white;
}

.top-caption>h4 {
    font-family: "Josefin Slab", serif;
    text-align: center;
    color: white;
}

.top-caption>h4>a {
    color: rgb(232, 164, 0);
}

.search-button {
    cursor: pointer;
    color: white;
    position: absolute;
    bottom: 0px;
    right: 15px;
    background: rgb(255, 160, 68);
    border-radius: 5px;
}

.searchbox-text-icon{
    width: 45px;
}

.search-bg {
    width: 100%;
    background: url(/images/index_images/bg1.jpg) center center / cover;
    background-position: center center;

}

.search-box{
    background: red;
    width : 90%;
    margin: 30px auto;
    padding: 20px 40px;
    -webkit-box-shadow: -1px 5px 30px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: -1px 5px 30px 0px rgba(0,0,0,0.6);
    box-shadow: -1px 5px 30px 0px rgba(0,0,0,0.6);
}

.search-box>h4 {
    color: white;
    font-size: 35px;
}

.searchbox-dropbox{
    -webkit-appearance: none;
}

.search-option {
    margin: 10px auto;
}

.inspire{
    height: 220px;
    font-family: 'Fugaz One', cursive;
    text-align: center;
}

.my-footer {
    overflow-x: hidden;
    color: white;
    background: red;
    -webkit-box-shadow: -1px -4px 60px -15px rgba(0,0,0,0.6);
    -moz-box-shadow: -1px -4px 60px -15px rgba(0,0,0,0.6);
    box-shadow: -1px -4px 60px -15px rgba(0,0,0,0.6);
}

.text-red{
    color:red;
}

.busy{
    color:red;
}

.available{
    color:#08ff00;
}

.btn-full {
    width: 100%;
}

#result-card > .card:hover {
    -webkit-box-shadow: -1px -4px 60px -15px rgba(0,0,0,0.6);
    -moz-box-shadow: -1px -4px 60px -15px rgba(0,0,0,0.6);
    box-shadow: -1px -4px 60px -15px rgba(0,0,0,0.6);
}

#result-card, #result-card:hover{
    text-decoration: none;
}
#add-service {
    color:#FFF;
    font-size: 2em;
}
#my-service {

    color:red;
    font-size: 1.5em;
}



.card-title{
    color: black;
}

.card-text{
    color: rgb(105, 105, 105);
    line-height: 1.2rem;
    word-wrap: break-word;
}

.price-tag{
    float: left;
}

.rate-tag{
    color:rgb(255, 145, 0);
    float: right;
}

.text-orange{
    color:rgb(255, 145, 0);
}

.report-btn{
    font-size: 12px;
    border-radius: 0;
    padding: 2px;
}

.service-name{
    color: white;
    background: red;
}

.slick-image{
    width: 500px;
    height: 300px;
    border: 10px solid white;
    background-position: center center;
}

a.image-popup-link:hover {
    color:white;
    border: none;
}
a.image-popup-link:focus {
    color:white;
    border: none;
}

.service-detail{
    border: 1px solid #808080;
}

.center-line{
    margin: auto;
    height: 50px;
    padding: 10px;
    font-size: 1.25em;
}

.circle{
    margin:auto;
    margin-top:80px;
    border: 1px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.btn-under-pic{
  margin:auto;
  margin-top:10px;
  width: 60%;
  text-align:center;
}

.btn-groups .button {
    background-color: #F5F5F5;
    color: black;
    padding: 50px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-style: dashed;
    border-color: #D3D3D3;
}

.btn-groups .button:hover {
    background-color: #DCDCDC;
}
.head-form{
  text-indent:50px;
  font-size: 1.5em;

}
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media (max-width: 768px) {
    .search-option {
        margin: 5px auto;
    }
}

@media (max-width: 575px) {
    li.nav-item>a {
        width: 100%;
    }
    .signin-as {
        width: 100%;
    }
    li.nav-item>a:hover {
        color:red;
        text-decoration: none;
        border: 1px solid red;
    }
    a.signup-button {
        color: red;
        background: none;
    }
    a.signup-button:hover{
        background: white;
    }
    .copyright{
        display: none;
    }
    .socialbar{
        margin-right: auto !important;
    }
}

@media (min-width: 48em) {
    h1 {
        font-size: 2.441em;
    }
    h2 {
        font-size: 1.953em;
    }
    h3 {
        font-size: 1.563em;
    }
    h4 {
        font-size: 1.25em;
    }
    .display-1 {
        font-size: 6em;
    }
    .display-2 {
        font-size: 5.5em;
    }
    .display-3 {
        font-size: 4.5em;
    }
    .display-4 {
        font-size: 3.5em;
    }
}

@media (min-width: 62em) {
    html,
    body {
        font-size: 16px !important;
    }
}

@media (min-width: 75em) {
    html,
    body {
        font-size: 18px !important;
    }
}
