html,
body {
    font-size: 14px !important;
    font-family: "Kanit",sans-serif;
    overflow-x: hidden;
    margin:0;
    padding:0;
    height: 100%;
}

h1 {
    font-size: 1.602em;
}

h2 {
    font-size: 1.424em;
}

h3 {
    font-size: 1.266em;
}

h4 {
    font-size: 1.125em;
}

h5 {
    font-size: 0.889em;
}

h6 {
    font-size: 0.79em;
}

.display-1 {
    font-size: 3.906em;
}

.display-2 {
    font-size: 3.125em;
}

.display-3 {
    font-size: 2.5em;
}

.display-4 {
    font-size: 2em;
}

a.signup-button {
    color: white;
    background: red;
}

a.signup-button:hover,a.signin-button:hover {
    color:red;
}

a.signup-button:hover {
    color: white;
    background: red;
}

a.signin-button {
    color: red;
}
li.nav-item>a {
    width: 100%;
}

.homepage-section{
    
}

.top-caption>h1 {
    font-family: Lobster, cursive;
    text-align: center;
    color: white;
}

.top-caption>h4 {
    font-family: "Josefin Slab", serif;
    text-align: center;
    color: white;
}

.top-caption>h4>a {
    color: rgb(232, 164, 0);
}

.search-button {
    cursor: pointer;
    color: white;
    position: absolute;
    bottom: 0px;
    right: 15px;
    background: rgb(255, 160, 68);
    border-radius: 5px;
}

.searchbox-text-icon{
    width: 45px;
}

.search-bg {
    width: 100%;
    height: 500px;
    background: url(/images/index_images/bg1.jpg) center center / cover;
    background-position: center center;
}

.search-box{
    background: red;
    width : 90%;
    margin: 30px auto;
    padding: 20px 40px;
    -webkit-box-shadow: -1px 13px 50px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 13px 50px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 13px 50px 0px rgba(0,0,0,0.75);
}

.search-box>h4 {
    color: white;
    font-size: 35px;
}

.searchbox-dropbox{
    -webkit-appearance: none;
}

.search-option {
    margin: 10px auto;
}

.inspire{
    height: 220px;
    font-family: 'Fugaz One', cursive;
    text-align: center;
}

.my-footer {
    overflow-x: hidden;
    color: white;
    background: red;
    -webkit-box-shadow: -1px -4px 69px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -4px 69px -15px rgba(0,0,0,0.75);
    box-shadow: -1px -4px 69px -15px rgba(0,0,0,0.75);
}

.text-red{
    color:red;
}

.btn-full {
    width: 100%;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media (max-width: 768px) {
    .search-option {
        margin: 5px auto;
    }
}

@media (max-width: 575px) {
    li.nav-item>a {
        width: 100%;
    }
    li.nav-item>a:hover {
        color:red;
        text-decoration: none;
        border: 1px solid red;
    }
    a.signup-button {
        color: red;
        background: none;
    }
    a.signup-button:hover{
        background: white;
    }
    .copyright{
        display: none;
    }
    .socialbar{
        margin-right: auto !important;
    }
}

@media (min-width: 48em) {
    h1 {
        font-size: 2.441em;
    }
    h2 {
        font-size: 1.953em;
    }
    h3 {
        font-size: 1.563em;
    }
    h4 {
        font-size: 1.25em;
    }
    .display-1 {
        font-size: 6em;
    }
    .display-2 {
        font-size: 5.5em;
    }
    .display-3 {
        font-size: 4.5em;
    }
    .display-4 {
        font-size: 3.5em;
    }
}

@media (min-width: 62em) {
    html,
    body {
        font-size: 16px !important;
    }
}

@media (min-width: 75em) {
    html,
    body {
        font-size: 18px !important;
    }
}